<%= simple_form_for(@proyect) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :name %>
    <%= f.input :description %>
    <%= f.input :begindate %>
    <%= f.input :enddate %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
