<p id="notice"><%= notice %></p>

<p>
  <strong>Fullname:</strong>
  <%= @engineer.fullname %>
</p>

<p>
  <strong>Dependency:</strong>
  <%= @engineer.dependency %>
</p>

<p>
  <strong>Studies:</strong>
  <%= @engineer.studies %>
</p>

<p>
  <strong>Proyect:</strong>
  <%= @engineer.proyect %>
</p>

<%= link_to t('.Edit',:default  => t("helpers.links.edit")),edit_engineer_path(engineer), :class => 'btn btn-primary' %> |

<%= link_to t('.Back',:default  => t("helpers.links.back")),engineer_path(engineer), :class => 'btn btn-primary'